
db/PROC-ECE_ASYNC.quiproj.9984.rdr.flock
db/PROC-ECE_ASYNC.db_info
db/PROC-ECE_ASYNC.db_info
db/PROC-ECE_ASYNC.db_info
*.wlf
*.wlf
*.qtl
*.qpg
*.qdb
*.qpg
*.qdb
simulation/modelsim/rtl_work/_info
*.kpt
*.qmsg
*.v
*.cdb
*.hdb
*.rdb
*.idb
*.ddb
*.flock
*.hsd
*.dfp
*.ammdb
*.rcfdb
*.txt
*.logdb
*.rpt
*.summary
*.cdf
*.jdi
*.smsg
*.pof
*.sld
*.pin
*.sof
*.vho
*.sft
*.xrf
simulation/modelsim/wlfthmin76
simulation/modelsim/wlftsan1h6
