
db/PROC-ECE_ASYNC.quiproj.9984.rdr.flock
db/PROC-ECE_ASYNC.db_info
db/PROC-ECE_ASYNC.db_info
db/PROC-ECE_ASYNC.db_info
*.wlf
*.wlf
*.qtl
*.qpg
*.qdb
*.qpg
*.qdb
simulation/modelsim/rtl_work/_info
*.kpt
